@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  font-size: 30px;
  font-family: arial;
}

li {
  color: white;
}
 p  {
   color: white;
   font-size: 50%;
 }

h1 {
  text-align: center;
  border: 1px solid red;
  display: inline-block;
  font-family: 'Pacifico', cursive;
}

.autos {
  font-size: 20px;
  font-family: arial;
}

.HipHop {
  font-size: 20px;
  font-family: arial;
}

.Compu {
  font-size: 20px;
  font-family: arial;
}

.Texto {
  font-size: 50px;
  font-family: fantasy;
  padding: 20%;
}

.autos:hover {
  color: red;
  cursor:cell;
}

.HipHop:hover {
  color: red;
  cursor:cell;
}

.Compu:hover {
  color: red;
  cursor:cell;
}

.numero1 {
  background-color:orange;
  display: inline-block;
  margin: 3%;
  padding: 2%;
}

.title {
  text-align: center;
}
